.section-two-wrapper {
    background-color: rgb(181, 181, 68);
    border: .3125rem solid green;
    border-radius: .625rem;
    color: green;
}

.two {
    text-align: center;
    color: green;
    font-size: 1.4rem;
    font-weight: 800;
}

.form-control.two-radio {
    font-size: .8rem;
}

