.starting-score-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: gray;
    max-width: 8vw;
    border-radius: .625rem;
}

.score-box-window {
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 35px;
    background-color: red;
    color: white;
    border-radius: .625rem;
}

.cash-box-window {
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 35px;
    background-color: green;
    color: white;
    border-radius: .625rem;
}

.score-points {
    font-size: 1.25rem;
    font-weight: 800;
    text-align: center;
    color: red;
    background-color: green;
    width: 50%;
    border-radius: .625rem;
}

.cash-points {
    font-size: 1.25rem;
    font-weight: 800;
    text-align: center;
    color: green;
    background-color: red;
    width: 50%;
    border-radius: .625rem;
}

.ball {
    border-radius: .625rem;
    background-color: limegreen;
}

.ball > h1 {
    color: green;
}

.strike {
    border-radius: .3125rem;
    background-color: pink;
}

.strike > h1 {
    color: red;
}

.one {
    font-size: 1.05rem;
    font-weight: 200;
}

.two {
    font-size: 1.25rem;
    font-weight: 400;
}

.three {
    font-size: 1.6rem;
    font-weight: 600;
}

.four {
    font-size: 2rem;
    font-weight: 800;
}